@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer utilities {
  @variants responsive {
      .text-shadow {
        text-shadow: 0 4px 4px rgba(0,0,0,0.25);
      }
      .text-shadow-none {
        text-shadow: none;
      }
      .stroke-yellow {
        text-shadow: -1px -1px 0 #ffc700, 1px -1px 0 #ffc700, -1px 1px 0 #ffc700, 1px 1px 0 #ffc700;
      }
  } 
}
